@import url("local.css");

* {
  font-family: "JetBrains Mono", "Symbols Nerd Font Mono", "Twemoji";
  font-size: 12px;
}

window#waybar {
  background: @bg;
  color: @fg;
  margin-top: 5px;
  margin-bottom: 5px;
}

#cpu, #language {
  border-bottom: 3px solid #f90000;
}

#memory {
  border-bottom: 3px solid #4bffdc;
  min-width: 115px;
}

#workspaces button.focused, #workspaces button.active {
  background: @fg;
  color: @bg;
  border-bottom: 3px solid #ffb52a;
  padding: 0 6px;
}

#workspaces button.urgent {
  background: #bd2c40;
  color: @fg;
}

#workspaces button {
  background: transparent;
  color: @fg;
  padding: 1px 6px;
}


#keyboard-state label.locked, #submap.resize {
  background: #bd2c40;
  padding: 0 6px;
  color: white;
  font-weight: bold;
}

#clock {
  color: @fg;
  border-bottom: 3px solid #0a6cf5;
}

#clock calendar {
  font-size: 12px;
}

#pulseaudio.muted {
  color: #666;
}

#custom-notification {
  font-size: 16px;
  margin-right: 0;
  min-width: 20px;
}

#tray {
  padding-right: 6px;
}

#custom-exchangerates,
#custom-weather,
#disk,
#memory,
#cpu,
#language,
#battery,
#pulseaudio,
#clock {
  margin-right: 14px;
}
