@import url("local.css");

* {
  font-family: "JetBrains Mono", "Symbols Nerd Font Mono", "Twemoji";
  font-size: 12px;
}

window#waybar {
  background: @bg;
  color: @fg;
  margin-top: 5px;
  margin-bottom: 5px;
}

#cpu, #language {
  border-bottom: 3px solid #f90000;
}

#memory {
  border-bottom: 3px solid #4bffdc;
}

#workspaces button.focused {
  background: @fg;
  color: @bg;
  border-bottom: 3px solid #ffb52a;
  padding: 0 6px;
}

#workspaces button.urgent {
  background: #bd2c40;
  color: @fg;
}

#workspaces button {
  background: transparent;
  color: @fg;
  padding: 1px 6px;
}

#tray {
  padding-right: 6px;
}

#clock {
  color: @fg;
  border-bottom: 3px solid #0a6cf5;
}

#clock calendar {
  font-size: 12px;
}

#pulseaudio.muted {
  color: #666;
}

#keyboard-state label.locked {
  background: #ff0000;
  color: white;
}
